<img id="burger-pic" href="../public\img\burger.png">
<h1>Eat the Burgers</h1>
    <div>
        <form id="add-burger">
            <input type="text" name="burgerName"><br>
            <input type="submit"><br>
            Enter a burger you would like to eat.
        </form>
    </div>

