<h1>Eat the Burgers</h1>

<div>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{!-- {{> cats/cat-block sleep=true}} --}}
    {{/unless}}
  {{/each}}
</ul>

</div>

<div>
<img id="burger-pic" href="./img/burger.jpg">
</div>

<div>
    <form>
        <input id="burger-name" type="text" name="burgerName"><br>
        <button id="add-burger" type="submit">Submit</button> <br>
            Enter a burger you would like to eat.
    </form>
</div>

