<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="burger-box">
        <h1>Eat the Burgers</h1>
      </div>
    </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="list-box">
        {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block burger=this}}
        {{/unless}}
        {{/each}}
        </div>
    </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class= "burger-box">
      <img id="burger-pic" src="/img/burger.png">
      <form>
        <input id="burger-name" type="text" name="burgerName"><br>
        <button id="burger-button" type="submit" class="btn btn-light">Submit</button><br>
        <p id="button-text">Add a burger you would like to eat.</p>
      </form>
      </div>
    </div>
  <div class="col-md-2"></div>
</div>

